tag {
  .container {
    background: color($colors, tag-bg);
    border: 1px solid color($colors, tag-border);
    border-radius: 5px;
    padding: 5px 5px;
    margin: 5px 5px;
    p {
      margin: 0 auto;
      font-size: 1.4rem;
    }
    .close-icon {
      margin-left: 5px;
    }
  }
  .selected {
    border-left: 3px solid color($colors, main);
  }
  .unselected {
    border-left: 1px solid #d7d7d7;
  }
}
