<ion-header>
  <ion-navbar color="main">
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center>
      <p>Segmentering</p>
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <p>Nulstil</p>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let i of tagGroups | getKeys">
      <ion-col>
        <p class="categories-title">{{tagGroups[i]._heading}}</p>
        <ion-row>
          <ion-col class="column">
            <div class="tag-container" *ngFor="let j of tagGroups[i]._tags | getKeys">
              <tag [name]="tagGroups[i]._tags[j]._name"></tag>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
